table {
    background-color: white;
    border-radius: 22px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.01rem;
}

td,
th {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.white {
    background-color: white;
    width: 63vw;
    border-radius: 2vh;
    border: 1px solid grey;
}

.nowhite {

    background-color: white;
    width: auto;
    color: red;
    border-radius: 14px;
    font-size: large;
    font-weight: 500;
    padding-left: 80px;
    padding-right: 80px;


}

.cursor-pointer:hover {
    cursor: pointer;
}

.nodiv {
    text-align: center;
}

.nowhite p {
    margin: 0 !important;
}

@media screen and (max-width: 480px) {
    img {
        width: 13vw;
        height: 6vh;
    }

    .white {
        background-color: #fff;
        width: 94vw;
        margin-left: auto;
        margin-right: auto;
        border: none !important;
    }


}