table {
    background-color: white;
    border-radius: 17px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.01rem;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);

}

td,
th,
.nodiv {
    text-align: center;
}

.scrollme {
    overflow-x: auto;
}


.white {
    background-color: white;
    width: 55vw;
    padding: 5px;
}

.nowhite {

    background-color: white;
    width: auto;
    color: red;
    border-radius: 14px;
    font-size: large;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;


}

.nowhite p {
    margin: 0 !important;
}

@media screen and (max-width: 480px) {
    .white {
        background-color: white;
        width: 94vw;
        margin-left: 30vw;
        margin-right: 3vw;
    }
}