table {
    background-color: white;

}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.01rem;
}

td,
th {
    text-align: center;
}



.white {
    background-color: white;
    width: 55vw;
}

@media screen and (max-width: 480px) {
    .white {
        background-color: white;
        width: 94vw;
    }
}