.form {
    background-color: white;
    padding: 5vh;
    width: 45rem;
    border-radius: 1vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.01rem;
}

.category {
    width: 40%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-title {
    font-size: 23px;
    font-weight: 550;
    text-align: center;
    padding: 3vh;
}

.text-btn-size {
    font-size: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #08456e;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .category {
        width: 80%;
    }
}