<div class="container">
    <div class="row top">

        <form ngNativeValidate [formGroup]="searchForm" class="form" (ngSubmit)="onSubmit()">
            <div class="form-title">Business Search</div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="keyword">Keyword</label><span style="color:#ff0000">*</span>
                        <input matInput required type="text" id="keyword" class="form-control input-lg"
                            formControlName="keyword" [matAutocomplete]="auto">
                    </div>
                </div>
            </div>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
            <div class="row mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="distance">Distance</label>
                        <input type="number" class="form-control input-lg" formControlName="distance">
                    </div>

                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="category">Category</label><span style="color:#ff0000">*</span>
                        <select class="form-select" id="sel1" name="sellist1" required formControlName="category">
                            <option value="All">Default</option>
                            <option value="arts">Arts & Enteratinment</option>
                            <option value="health">Health & Medical</option>
                            <option value="hotelstravel">Hotel & Travel</option>
                            <option value="food">Food</option>
                            <option value="professional">Professional Services</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="location">Location</label><span style="color:#ff0000">*</span>
                        <input type="text" #locationField (blur)="onLocationBlur($event.target.value)"
                            class="form-control input-lg" required formControlName="location">
                    </div>

                </div>

            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"
                            formControlName="checkbox">&nbsp;
                        <label>Auto-detect my location</label>
                    </div>

                </div>

            </div>



            <div class="row mb-3">

                <div class="form-buttons form-group">
                    <button type="submit" class="btn btn-danger m-4 text-btn-size  ">Submit</button>
                    <button type="button" class="btn btn-primary text-btn-size " (click)="onClear()">Clear</button>
                </div>

            </div>

        </form>
    </div>
</div>
<app-result-card></app-result-card>