.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.01rem;

}

.btn-center {
    text-align: center;
}

.flex-div {
    padding: 5px;
    width: 45%;
    height: auto;
    margin: 10px;
    text-align: center;

}

.flex-div p {
    margin: 0
}

.data-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.mat-tab-label-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center {
    text-align: center;
    margin-bottom: 15px;
}

.center p {
    margin: 0;
}

.white .map-container {
    align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon span span i {

    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.mat-tab-body-content {

    overflow: hidden !important;
}

.fa-facebook-square {
    color: #3b5998;

    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
    transform: scale(2);
    margin: 20px;
    margin-left: 9px !important;

}

.fa-twitter {

    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
    transform: scale(2);

    margin: 20px;
}

.mat-tab-labels {

    justify-content: center !important;
    background-color: #ffc107 !important;
}

.white {
    background-color: white;
    width: 55vw;
}

@media screen and (max-width: 480px) {
    .white {
        background-color: white;
        width: 94vw;
    }
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}